/* Generales */

:root {
  --color-primario: #9AB09C;
  --color-secundario: #ddc190;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 17px;
}


h4
{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
}

.btn{
  color: white;
  background-color: var(--color-primario);
  border-radius: 30px;
  padding: 10px 40px;
  border: 1px solid var(--color-primario);
  text-transform: uppercase;
}

.btn:hover{
  color:var(--color-primario);
  background-color: white;
}

.btn-alt{
  color: var(--color-primario);
  background-color: white;
}

.btn-alt:hover{
  color: white;
  background-color: var(--color-primario);
  border: 1px solid white;
}

.btn:focus{
  box-shadow:none;
}


.fancybox-bg{
  background-color: var(--color-primario) !important;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
}

/* Animacion fade in */
.fade-in{
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/* Flecha para scroll de portada */
.scroll-down {
	position: absolute;
	bottom: 70px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  z-index: 9;
  left: calc(50% - 15px);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* Portada */
section.portada{
  height: 100vh;
  background-image: url(img/portada.jpg);
}

/* Ceremonia y Fiesta */

section.ceremonia-fiesta{
  padding: 80px 0 100px;
}

section.ceremonia-fiesta .columna{
  text-align: center;
  padding: 0 30px;
}

section.ceremonia-fiesta .columna h4{
  margin-top: 15px;
  margin-bottom: 20px;
}

section.ceremonia-fiesta .columna p{
  margin-bottom: 25px;
}

section.ceremonia-fiesta .columna img.icon{
  width: 150px;
}

section.ceremonia-fiesta .columna img.anillos{
  width: 150px;
}

/* Galeria /Historia */
section.galeria{
  padding-bottom: 40px;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

section.galeria .item-galeria{
  padding: 0 3px;
  margin-bottom: 5px;

}

section.galeria .item-galeria a img{
  transition: all 0.3s ease-out;
  border-radius: 10px;
}


section.galeria .item-galeria a:hover img{
  transform: scale(1.1);
  position: relative;
  z-index: 999;
}



/* CBU */
section.cbu{
  text-align: center;
  padding: 0 0 100px;
  background-color:#fff;
}

section.cbu img.icon{
  width: 150px;
}

section.cbu p{
  font-weight: 300;
}

#hidden-cbu{
  padding: 25px;
  border-radius: 10px;
}

#hidden-cbu span.title{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: var(--color-primario);
}

#hidden-cbu ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

#hidden-cbu ul li a{
  color: var(--color-primario);
  text-decoration: underline;
}

/* ---------- */
/* DRESS CODE */
section.dresscode{
  text-align: center;
  padding: 30px 0 30px;
  background-color: var(--color-secundario);
}

section.dresscode h4 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

section.dresscode p{
  color: black;
}

/* CONFIRMAR ASISTENCIA */
section.confirmar-asistencia{
  text-align: center;
  padding: 70px 0 120px;
  height: 500px;
}

section.confirmar-asistencia h4 {
    text-align: center;
    margin-bottom: 25px;
}

section.confirmar-asistencia p{
  margin-bottom: 20px;
}

/* INSTAGRAM */
section.instagram{
  text-align: center;
  padding: 50px 0 0;
}

section.instagram .hashtag{
  font-size: 30px;
  color:var(--color-primario);
  font-weight: 400;
  margin-top: 100px;
}

section.instagram p{
  margin-top: 20px;
  margin-bottom:30px;
}

section.instagram span a{
  margin-top: 20px;
  margin-bottom:30px;
  color:var(--color-primario);
}


/* CANCIONES */

section.canciones{
  text-align: center;
  padding: 100px 0 100px;
}

section.canciones h4 {
    text-align: center;
    margin-bottom: 25px;
}

section.canciones p{
  margin-bottom: 20px;
}


/* ---------- */
/* GRACIAS */
section.gracias{
  text-align: center;
  padding: 50px 0;
  background-color: var(--color-secundario);
}

section.gracias p{
  text-align: center;
  color: black;
}

.ver {
  display: none;
}

/* Medias queries */

@media (max-width: 760px) {
  .logo-portada img{
	display:none;
    max-width: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
section.portada{
  height: 100vh;
  background-image: url(img/logo-portada1.png);
}
.logo-portada{
    text-align: center;
  }
section.ceremonia-fiesta .row .columna:nth-child(2){
    margin-top: 50px;
  }
section.ceremonia-fiesta .row .columna.no-margin-top{
    margin-top: 0;
  }

section.confirmar-asistencia{
  text-align: center;
  padding: 70px 0 120px;
  height: 500px;
}

section.confirmar-asistencia h4 {
    text-align: center;
}

section.confirmar-asistencia p{
  margin: 20px;
}

section.canciones{
  text-align: center;
  padding: 50px 0 50px;
}

section.instagram{
  text-align: center;
  padding: 50px 20px 0;
}

section.dresscode{
  text-align: center;
  padding: 30px 0 30px;
  background-color: var(--color-secundario);
}

section.dresscode h4 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

section.gracias{
  text-align: center;
  padding: 30px 0 30px;
  background-color: var(--color-secundario);
}

section.gracias p{
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
}
